extends base_layout

block styles
	link(rel='stylesheet', type='text/css', href='/less/events.css')
	link(rel='stylesheet', type='text/css', href='/css/sidemenu.css')

block content
		.container-fluid.opportunities-page
			.row
				section.parallax-wrapper
					.parallax
					h1= title
			.row
				.container.main-content
					.row
						.col-md-3
							#side-sub-menu
								ul.side-menu
									li.has-sub
										a  Workshop
											span#nav-button
										ul
											li.active
												a(href="#") Autocad
											li
												a(href="#") SAP 
											li
												a(href="#") STAAD
									li.has-sub
										a(href="#") Projects
											span#nav-button
										ul
											li
												a(href="#") Structures
											li
												a(href="#") Geotechnical
											li
												a(href="#") Steel bridge
											li
												a(href="#") Concrete Canoe
						.col-md-8
							.row 
								.col-md-12
									h3= title
									p
										| Engineer- Annual technical of fest NITK. Civil events engineer is jointly organised by ASCE NITK Student Chapter and Civil Committee Engineer 
										|Collosus 
										|Mindbend 
										|Nirvanha  
										|Architect 
										|Fanatasticity
									p
										| Engineer- Annual technical of fest NITK. Civil events engineer is jointly organised by ASCE NITK Student Chapter and Civil Committee Engineer 
										|Collosus 
										|Mindbend 
										|Nirvanha  
										|Architect 
										|Fanatasticity
								.clearfix
								.image-banner
									.col-md-12
										h4 Workshops
									section
										.col-md-4
											.thumb(style="background-image:url('/img/autocad-opp.png')")
												div
													.p-10
														h2 Autocad
														p I'll teach Y'all
														.bottom-text
															h4 Contact
															.details Vamshi
															.details Department
											a.btn.btn-primary.read-more Read More
										.col-md-4
											.thumb(style="background-image:url('/img/sap.png')")
												div
													.p-10
														h2 SAP
														p learn it bro
														.bottom-text
															h4 Contact
															.details Vamshi 
															.details 3rd Year (8197184718)
											a.btn.btn-primary.read-more Read More
										.col-md-4
											.thumb(style="background-image:url('/img/staad.jpg')")
												div
													.p-10
														h2 STAAD
														p learn it bro
														.bottom-text
															h4 Contact
															.details Vamshi 
															.details 3rd Year (8197184718)
											a.btn.btn-primary.read-more Read More	
										.clearfix
									.col-md-12
										h4 Projects *
									section.project-section
										.project-info *these projects are being carried out by undergraduate students
										.col-md-4
											.thumb(style="background-image:url('/img/structural-drawings.gif')")
												div
													.p-10
														h2 Structures
														p it sucks
														.bottom-text
															h4 Contact
															.details Vamshi
															.details Department
											a.btn.btn-primary.read-more Read More
										.col-md-4
											.thumb(style="background-image:url('/img/geo.jpg')")
												div
													.p-10
														h2 Geotechnical
														p Make it beak it fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck
														.bottom-text
															h4 Contact
															.details Vamshi
															.details Department
											a.btn.btn-primary.read-more Read More
										.col-md-4
											.thumb(style="background-image:url('/img/steel-bridge.jpg')")
												div
													.p-10
														h2 Steel bridge
														p gotta teach 'em all
														.bottom-text
															h4 Contact
															.details Vamshi
															.details Department
											a.btn.btn-primary.read-more Read More
										.col-md-4
											.thumb(style="background-image:url('/img/canoe.jpg')")
												div
													.p-10
														h2 Concrete Canoe
														p Be there
														.bottom-text
															h4 Contact
															.details Vamshi
															.details Department
											a.btn.btn-primary.read-more Read More
										.clearfix
block scripts
		script(type="text/javascript" src="/js/sidemenu.js")