body{
	 font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 20px;

}
.rel{
}
.nav-menu-wrapper{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 4;
	height:81px;
	background-color: rgba(0,0,0,0.6);
	color: white;

}
.ascelogo > img{
	position: absolute;
	left:20px;
	height:75px;
}
ul.nav-menu{
	padding-left: 256px;
	display: flex;
	justify-content:space-around;
	align-items:center;
	height:81px;
	list-style-type: none;
}
.main-content{
	
}
@media(min-width:1200px){
	.container{
		width: 1100px!important;
	}
}

.parallax{
    position: absolute;
   left: -10px; 
   right: -10px;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  margin-left: -100px;
  height: 500px;
  line-height: 20px;
}
.parallax-wrapper{
	  position: relative;
  height: 200px;
  margin: 0px 0px 10px;
  perspective: 0;
  z-index: 1;
  overflow: hidden;
  h1{
  	  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 40px;
    z-index: 6;
  }
}

section.parallax-wrapper::before {
  content: '';
  background: url('/img/overlays/05.png') repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 6;
  -webkit-filter: blur(2px);
}